@use 'variables';
@use 'mixins';

.fantasma{
    .fantasmaIntro{
        h1{
            @include mixins.titulosFont(4rem, center);
        }
        p{
            @include mixins.textosFont(2.2rem, center);
        }
        img{
            display: block;
            width: 100%;
            max-width: 500px;
            margin: 20px auto;
            border-radius: 8px;
        }
    }
    .accordionFantasmasItem{
        background-color: variables.$accordionFantasmaBgColor;
        border: 2px solid variables.$borderColor;
        .accordionFantasmasButton{
            background-color: variables.$accordionFantasmaBgColor;
            color: #fff !important;
            border: none;
            @include mixins.textosFont(2rem, start);
            :not(.collapsed){
                background-color: variables.$accordionFantasmaBgColor;
                color: #fff !important;
            }
        }
        .accordionFantasmaBody{
            background-color: variables.$accordionFantasmaBgColor !important;
            color: #fff !important;
            :focus{
                box-shadow: none !important;
            }
            .datosFantasma{
                @include mixins.textosFont(2rem, start);
            }
        }
    }
}