@use 'variables';
@use 'mixins';


%seccionBase{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}
.introduccion{
    @extend %seccionBase;
    h1{
        @include mixins.titulosFont(4rem, center);
    }
    p{
        @include mixins.textosFont(2.5rem, center);
    }
    .imgPhasmoIntro{
        display: block;
        width: 100%;
        max-width: 60%;
        margin: 20px auto;
    }
    .imgIntroSecundarias{
        display: flex;
        justify-content: space-between;
        align-items: center;
        img{
            width: 48%;
            border-radius: 10px;
        }
    }
}
.consejos{
    @extend %seccionBase;
    margin-top: 40px;
    h2{
        @include mixins.titulosFont(3rem, center);
    }
    .consejo{
        h3{
            @include mixins.textosFont(2.5rem, center, normal, 1rem, underline);
        }
        p{
            @include mixins.textosFont(2.5rem, center, normal);
        }
    }
}
.imgIntroTerciaria{
    img{
        display: block;
        width: 100%;
        max-width: 1000px;
        margin: 20px auto;
        border-radius: 10px;
    }
}
