$navBarFooterBackColor: #0D0B32;
$borderColor: #0066ff;
$backgroundColor: #0000ff1c;
$equipBackgroundColor: #0000ff2a;
$accordionFantasmaBgColor: #110e46;
$formBoxShadow: #0000ffe6;
$buttonBgColor: #0000ff2a;
