@use 'variables';
@use 'mixins';
@use 'navbar-footer';
@use 'index';
@use 'equipamiento';
@use 'navbarEquipamiento';
@use 'fantasmas';
@use 'objetosMalditos';
@use 'comentarios';
@use 'mediaQuery';

@font-face{
    font-family: 'lazy_dog';
    src: url('../fonts/lazy_dog.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding-top: 8rem;
    background-color: #050415;
    color: #fff;
    overflow: auto;
}
h2{
    @include mixins.titulosFont(2.5rem, center, bold);
}
h3{
    @include mixins.titulosFont(1.5rem, center, bold);
}
